@charset "UTF-8";
[class^='icon-'], [class*=' icon-'] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background: url("../../f/img/sprite.png") -9999px -9999px no-repeat; }

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  [class^='icon-'], [class*=' icon-'] {
    background-image: url("../../f/img/sprite@2x.png");
    background-size: 500px 200px; } }

.icon-warn {
  width: 28px;
  height: 23px;
  background-position: 0 0; }

.icon-caps {
  width: 20px;
  height: 20px;
  background-position: -112px 0; }

a:hover .icon-caps {
  background-position: -136px 0; }

.icon-check {
  width: 25px;
  height: 24px;
  background-position: -29px 0; }

.icon-thumb-up {
  width: 28px;
  height: 24px;
  background-position: -57px 0;
  margin-top: -4px; }

.icon-legal {
  width: 21px;
  height: 22px;
  background-position: -88px 0; }

.icon-question {
  width: 16px;
  height: 16px;
  background-position: -160px 0; }

.icon-courier {
  width: 42px;
  height: 34px;
  background-position: 0 -27px; }

.icon-car {
  width: 44px;
  height: 35px;
  background-position: -46px -27px; }

.icon-card {
  width: 34px;
  height: 26px;
  background-position: -93px -27px; }

.icon-wallet {
  width: 30px;
  height: 24px;
  background-position: -131px -27px; }

.icon-agreement {
  width: 26px;
  height: 35px;
  background-position: -165px -20px; }

.icon-hint {
  width: 16px;
  height: 16px;
  background-position: -179px 0; }

@font-face {
  font-family: 'Rub';
  src: url("../../f/fonts/RUBSN.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../f/fonts/Lato-Regular.eot");
  src: local("../../f/fonts/Lato Regular"), local("Lato-Regular"), url("../../f/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../f/fonts/Lato-Regular.woff") format("woff"), url("../../f/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../f/fonts/Lato-Black.eot");
  src: local("../../f/fonts/Lato Black"), local("Lato-Black"), url("../../f/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../../f/fonts/Lato-Black.woff") format("woff"), url("../../f/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../f/fonts/Lato-Light.eot");
  src: local("../../f/fonts/Lato Light"), local("Lato-Light"), url("../../f/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../f/fonts/Lato-Light.woff") format("woff"), url("../../f/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../f/fonts/Lato-Bold.eot");
  src: local("../../f/fonts/Lato Bold"), local("Lato-Bold"), url("../../f/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../f/fonts/Lato-Bold.woff") format("woff"), url("../../f/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Georgia';
  src: url("../../f/fonts/Georgia-Italic.eot");
  src: local("../../f/fonts/Georgia Italic"), local("Georgia-Italic"), url("../../f/fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../../f/fonts/Georgia-Italic.woff") format("woff"), url("../../f/fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  background: #fafafa;
  font: 16px/19px 'Lato', sans-serif;
  color: #606060;
  font-weight: 400; }

body,
html {
  padding: 0;
  height: 100%; }

a {
  color: #6A9C1D;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: none; }

h1 {
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: 900;
  line-height: 25px;
  color: #0C141C;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h1 {
      margin-bottom: 38px; } }

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px; }
  h2 a {
    display: inline-block;
    vertical-align: baseline;
    border-bottom: 1px dotted;
    line-height: 26px; }

h3 {
  font-size: 20px;
  line-height: 25px; }

h4 {
  font-size: 16px;
  line-height: 25px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

label {
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 3px; }
  label span {
    color: #6A9C1D; }

.rub {
  font-style: normal;
  font-family: 'Rub', sans-serif; }

.text-success {
  color: #6A9C1D !important; }

.font-georgia {
  font-family: Georgia, sans-serif; }

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0;
  background: #6A9C1D;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
  .btn:hover {
    color: #fff; }
  .btn:focus, .btn:active {
    box-shadow: none !important; }
  .btn-lg {
    padding: 16px 25px;
    font-weight: normal;
    font-size: 14px; }
  .btn-sm {
    padding: 9px 15px;
    font-size: 16px;
    line-height: 16px; }
  .btn-lime {
    background: #f5fce9;
    color: #606060;
    font-size: 14px;
    font-weight: normal;
    padding: 7px 12px; }
    .btn-lime:hover {
      color: #606060; }
  .btn-blue {
    background: #262b2f; }
  .btn-white {
    background: #fff;
    color: #6A9C1D; }
    .btn-white:hover {
      color: #fff; }
  .btn-bordered {
    background: none;
    border: 1px solid #6A9C1D;
    color: #6A9C1D; }
    .btn-bordered:hover {
      background: #6A9C1D;
      color: #fff; }
  .btn-sm.btn-bordered {
    padding: 8px 15px; }

input[type='text'].form-control,
input[type='number'].form-control,
input[type='tel'].form-control {
  width: 100%;
  height: 36px;
  line-height: 34px;
  border: 1px solid #c2c2c2;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 0; }
  input[type='text'].form-control:focus,
  input[type='number'].form-control:focus,
  input[type='tel'].form-control:focus {
    outline: 1px solid #6A9C1D;
    box-shadow: none; }

.input-holder {
  margin-bottom: 10px; }
  .input-holder .form-control {
    margin-bottom: 0; }

.is-invalid .form-control {
  border-color: #ed4c4c; }

.is-invalid .invalid-feedback {
  display: block; }

.invalid-feedback {
  font-size: 14px;
  line-height: 13px;
  color: #ed4c4c;
  padding: 3px 0; }

::-webkit-input-placeholder {
  color: #000;
  opacity: .5; }

:-ms-input-placeholder {
  color: #000;
  opacity: .5; }

::placeholder {
  color: #000;
  opacity: .5; }

button {
  cursor: pointer; }

.btn-group-toggle input {
  display: none; }

.btn-group-toggle label {
  margin-bottom: 0; }

.btn-group-toggle label.btn {
  color: #606060;
  font-size: 14px;
  font-weight: normal;
  padding: 7px 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: transparent; }
  .btn-group-toggle label.btn.active {
    background: #f5fce9; }
  .btn-group-toggle label.btn:hover {
    color: #606060; }

.minus {
  width: 15px;
  height: 4px;
  background: #6A9C1D;
  display: inline-block;
  vertical-align: middle; }

.plus {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center; }
  .plus:before, .plus:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 16px;
    left: 0;
    top: 0;
    background: #6A9C1D; }
  .plus:after {
    width: 16px;
    height: 4px;
    bottom: 0;
    margin: auto 0; }
  .plus:before {
    right: 0;
    margin: 0 auto; }

.marked-list {
  list-style: none;
  padding-left: 0; }
  .marked-list li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px; }
    .marked-list li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 20px;
      height: 20px;
      background: url(../../f/img/sprite.png) no-repeat;
      background-position: -45px -69px; }

.count-list {
  counter-reset: li;
  padding: 0;
  list-style: none;
  margin-bottom: -15px; }

.count-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px; }

.count-list li:before {
  content: counter(li);
  counter-increment: li;
  font-weight: bold;
  color: #6A9C1D;
  position: absolute;
  left: 0; }

table.table {
  border: 1px solid #060606;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 30px; }
  @media (max-width: 576px) {
    table.table tr:last-of-type td:last-of-type {
      border: none; } }
  table.table th {
    background: #060606;
    opacity: .55;
    padding: 10px 0; }
    table.table th:first-of-type {
      padding-left: 20px; }
    @media (max-width: 576px) {
      table.table th {
        position: absolute;
        top: -9999px;
        left: -9999px; } }
  table.table tr {
    border-bottom: 1px solid #060606; }
    table.table tr:last-of-type {
      border: none; }
    @media (max-width: 576px) {
      table.table tr {
        display: block; }
        table.table tr:first-of-type {
          display: none; } }
  table.table td {
    padding: 10px 0; }
    table.table td:first-of-type {
      padding-left: 20px; }
    table.table td:last-of-type {
      padding-right: 20px; }
    @media (max-width: 576px) {
      table.table td {
        display: block;
        padding: 0 20px 5px;
        border: none;
        position: relative;
        text-align: left; }
        table.table td:before {
          content: attr(data-label);
          display: inline-block;
          padding: 10px 20px;
          margin: 0 -20px;
          width: calc(100% + 40px);
          white-space: nowrap;
          font-weight: bold;
          background: #060606;
          opacity: .55; } }

.nav-tabs {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: none; }
  .nav-tabs li a {
    display: block;
    text-decoration: none; }

.tab-pane {
  padding: 15px 0; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }

.fade.show {
  opacity: 1; }

.breadcrumbs {
  list-style: none;
  padding-left: 0;
  margin-left: -6px;
  margin-bottom: 10px; }
  .breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    position: relative;
    line-height: 15px; }
    .breadcrumbs li:after {
      content: '•';
      display: inline-block;
      vertical-align: top;
      margin-left: 2px;
      margin-top: 1px; }
    .breadcrumbs li:last-of-type:after {
      display: none; }
    .breadcrumbs li a {
      font-size: 12px; }

.text-muted {
  color: rgba(96, 96, 96, 0.6) !important; }

.radio input[type=radio],
.custom-checkbox .custom-control-input[type=checkbox] {
  display: none; }

.radio label,
.custom-checkbox .custom-control-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  padding-top: 5px;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 15px; }

.radio .custom-control-label:before,
.custom-checkbox .custom-control-label:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #c2c2c2;
  background: #fff;
  position: absolute;
  border-radius: 0;
  left: 0;
  top: 0; }

.radio .custom-control-input:checked + .custom-control-label:after {
  content: '';
  display: block;
  position: absolute;
  left: 7px;
  top: 3px;
  width: 8px;
  height: 12px;
  border-left: 3px solid #303030;
  border-top: 3px solid #303030;
  -webkit-transform: scaleX(1) rotate(-135deg);
          transform: scaleX(1) rotate(-135deg); }

.custom-checkbox .custom-control-input:checked + .custom-control-label:before {
  background: #fff; }

.custom-checkbox .custom-control-input:checked + .custom-control-label:after {
  content: '';
  display: block;
  position: absolute;
  left: 7px;
  top: 3px;
  width: 8px;
  height: 12px;
  border-left: 3px solid #303030;
  border-top: 3px solid #303030;
  background-image: none;
  -webkit-transform: scaleX(1) rotate(-135deg);
          transform: scaleX(1) rotate(-135deg); }

.picker {
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .picker .selectpicker {
    display: none !important; }
  .picker .bootstrap-select {
    width: 100% !important; }
  .picker .dropdown-toggle {
    font-size: 12px;
    box-shadow: none;
    cursor: pointer;
    line-height: 30px;
    background: none;
    width: auto;
    background: #fff;
    font-weight: normal;
    text-transform: none;
    padding: 0 20px 0 0;
    border: 1px solid #060606; }
    .picker .dropdown-toggle:after {
      display: none; }
    .picker .dropdown-toggle span {
      line-height: 30px; }
    .picker .dropdown-toggle .filter-option {
      overflow: visible !important; }
    .picker .dropdown-toggle:focus {
      outline: none !important; }
  .picker .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 150px !important;
    margin: -1px 0 0;
    text-align: left;
    list-style: none;
    overflow: visible !important;
    padding: 0; }
    .picker .dropdown-menu.inner {
      border: 1px solid #060606;
      margin-top: 7px !important;
      background: #fff;
      padding: 10px 20px 5px 20px !important;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important; }
    .picker .dropdown-menu li {
      display: block !important;
      margin: 0 0 10px 0;
      line-height: 18px; }
      .picker .dropdown-menu li a {
        font-size: 14px;
        color: #000; }
        .picker .dropdown-menu li a:hover {
          color: #0043da; }
        .picker .dropdown-menu li a:focus {
          outline: none; }
    .picker .dropdown-menu.show {
      display: block; }
  .picker .dropdown-toggle .bs-caret {
    position: absolute;
    width: 0;
    margin-left: 3px;
    margin-top: 13px;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid rgba(96, 96, 96, 0.6); }

.show > .dropdown-menu {
  display: block; }

.city-picker {
  padding-top: 4px; }
  .city-picker .bootstrap-select {
    width: auto !important; }
  .city-picker .dropdown-toggle {
    border: none !important;
    color: rgba(96, 96, 96, 0.6) !important;
    line-height: 10px !important;
    background: none;
    font: 14px 'Georgia', sans-serif; }
    .city-picker .dropdown-toggle span {
      line-height: 14px;
      border-bottom: 1px dashed rgba(96, 96, 96, 0.4) !important; }
    .city-picker .dropdown-toggle .filter-option {
      overflow: hidden !important; }
  .city-picker .dropdown-toggle .bs-caret {
    margin-left: 7px;
    margin-top: 6px;
    border-bottom: none !important; }
  .city-picker .dropdown-menu {
    left: 0 !important;
    border: none; }
    .city-picker .dropdown-menu.inner {
      margin-top: 7px !important;
      padding: 15px 20px 5px 20px !important; }

.pseudo {
  border-bottom: 1px dotted; }

.wrap {
  min-width: 360px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.popups {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.phone {
  position: relative;
  font-size: 14px; }
  .phone .form-control {
    padding-left: 30px !important; }
  .phone:before {
    content: '+7';
    position: absolute;
    left: 10px;
    top: 6px;
    display: block; }

.fancybox-skin {
  padding: 0 !important;
  color: #000;
  background: #060606; }

.fancybox-close {
  border-radius: 0;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  background: #060606;
  border: 1px solid #eee; }
  .fancybox-close:before, .fancybox-close:after {
    height: 12px;
    background: #6A9C1D; }
  .fancybox-close:hover {
    background: #6A9C1D;
    border-color: #6A9C1D; }

textarea.form-control {
  height: auto;
  resize: none; }

.fancybox-inner {
  overflow: hidden !important; }

.collapse.show {
  display: block; }

tr.collapse.show {
  display: table-row; }

tbody.collapse.show {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease; }

.section {
  padding: 55px 0; }
  .section_unbot {
    padding-bottom: 0; }

.header {
  background: #0F263D;
  margin-bottom: 17px; }
  @media (min-width: 768px) {
    .header {
      margin-bottom: 60px; } }
  .header__main {
    height: 98px; }
    @media (min-width: 768px) {
      .header__main {
        height: 116px; } }
  .header__logo {
    display: inline-block;
    vertical-align: top;
    width: 254px; }
    @media (min-width: 768px) {
      .header__logo {
        width: 356px; } }
    .header__logo img {
      width: 100%; }

.spinner {
  width: 138px;
  position: relative;
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap;
  z-index: 1; }
  .spinner .form-control {
    width: 46px !important;
    height: 46px !important;
    text-align: center;
    background: transparent;
    font-size: 18px;
    line-height: 44px;
    color: #606060;
    margin-bottom: 0 !important;
    border: 1px solid #606060;
    display: inline-block;
    vertical-align: top; }
  .spinner button {
    height: 46px;
    width: 46px;
    display: inline-block;
    vertical-align: top;
    background: none;
    position: relative;
    border: none; }
    .spinner button:first-of-type {
      left: 0; }
    .spinner button:last-of-type {
      right: 0; }
    .spinner button:focus {
      outline: none; }
    .spinner button i {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto; }

.slick-list {
  height: 100%; }

.slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tooltip {
  padding-top: 14px; }
  .tooltip-inner {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 13px 15px;
    border: 1px solid #e7e7e7;
    z-index: 9999;
    border-radius: 0;
    color: #606060;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    width: 260px; }
    .tooltip-inner p {
      margin-bottom: 10px; }
  .tooltip .arrow {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 15px;
    overflow: hidden; }
    .tooltip .arrow:before, .tooltip .arrow:after {
      position: absolute;
      content: '';
      bottom: 100%;
      display: block;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      margin: 0 auto -16px;
      border: 27px solid transparent;
      border-bottom: 12px solid #e7e7e7; }
    .tooltip .arrow:after {
      margin-bottom: -17px;
      border-bottom: 12px solid #fff; }

.cart-goods {
  border: 1px solid rgba(231, 231, 231, 0.6);
  padding: 20px 20px 30px;
  background: #fff;
  margin-bottom: 30px; }
  .cart-goods__subtitle {
    font-size: 14px;
    line-height: 13px;
    padding: 0 10px 20px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.6); }

.cart-ordering {
  background: #fff;
  border: 1px solid rgba(231, 231, 231, 0.6);
  padding: 10px 30px 40px;
  margin-bottom: 10px; }
  .cart-ordering__head {
    margin-bottom: 30px; }
  .cart-ordering__title {
    font-weight: bold;
    font-size: 20px;
    color: #020c16;
    padding: 15px 0; }
    @media (min-width: 576px) {
      .cart-ordering__title {
        padding: 0; } }
  .cart-ordering__legal {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    padding-bottom: 5px; }
    @media (min-width: 576px) {
      .cart-ordering__legal {
        border-left: 1px solid rgba(96, 96, 96, 0.2);
        padding-left: 20px; } }
    .cart-ordering__legal span {
      border-bottom: 1px dashed;
      cursor: pointer; }
      .cart-ordering__legal span.icon-legal {
        border-bottom: none; }
    .cart-ordering__legal a.active {
      display: none; }
  .cart-ordering__subtitle {
    font-size: 14px;
    line-height: 13px;
    color: #303030;
    margin-bottom: 15px; }
  .cart-ordering-recipient__inputs {
    margin-bottom: -5px; }
  .cart-ordering-recipient__add-phone {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 15px; }
    .cart-ordering-recipient__add-phone span {
      font-size: 14px;
      line-height: 13px;
      color: rgba(96, 96, 96, 0.6);
      border-bottom: 1px dashed;
      margin-right: 3px; }
    .cart-ordering-recipient__add-phone .icon-question {
      border-bottom: none; }
  .cart-ordering-delivery__city {
    margin-bottom: 15px; }
  .cart-ordering-delivery .cart-ordering__subtitle {
    margin-right: 10px; }
  .cart-ordering-total .row {
    height: 100%; }
  .cart-ordering-total__goods {
    line-height: 17px;
    margin-bottom: 10px; }
    .cart-ordering-total__goods span {
      font-size: 14px;
      line-height: 13px;
      display: block; }
  .cart-ordering-total__payment {
    color: #303030;
    font-size: 14px;
    line-height: 13px;
    text-transform: uppercase; }
  .cart-ordering-total__price {
    font-size: 22px;
    line-height: 21px;
    color: #303030; }

.cart-total {
  padding: 10px 10px 0; }
  .cart-total__goods {
    margin-bottom: 5px; }
    @media (min-width: 576px) {
      .cart-total__goods {
        margin-bottom: 0; } }
    .cart-total__goods p {
      margin-bottom: 5px;
      font-size: 16px;
      height: 15px; }
    .cart-total__goods span {
      font-size: 12px;
      line-height: 12px; }
    .cart-total__goods b {
      margin-bottom: 0;
      font-size: 20px;
      color: #303030;
      display: block; }
    .cart-total__goods-promo {
      margin-bottom: 10px; }
      .cart-total__goods-promo span {
        font-size: 12px;
        line-height: 12px; }
  .cart-total__main {
    font-size: 14px;
    line-height: 13px;
    text-transform: uppercase;
    color: #303030; }
    .cart-total__main-holder {
      margin-bottom: 30px; }
    .cart-total__main-price {
      color: #303030;
      font-size: 22px;
      line-height: 21px;
      font-weight: bold; }
  .cart-total__promo-input {
    width: 100%; }
    @media (min-width: 768px) {
      .cart-total__promo-input {
        max-width: 370px; } }
    .cart-total__promo-input .form-control {
      line-height: 34px;
      height: 34px;
      padding-left: 15px;
      border-color: #C2C2C2;
      margin-bottom: 0; }
    .cart-total__promo-input a {
      margin-left: 3px; }
      .cart-total__promo-input a:hover {
        background: #6A9C1D; }
  .cart-total__promo-submit {
    border-width: 2px;
    padding: 7px 15px; }

.cart__conditions {
  text-align: right;
  font-size: 14px;
  line-height: 17px; }
  .cart__conditions a {
    border-bottom: 1px solid rgba(96, 96, 96, 0.2); }

.goods {
  list-style: none;
  padding-left: 0; }
  .goods > li {
    padding: 20px 10px 15px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.6);
    position: relative; }
  .goods__main {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .goods__main {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
  .goods__img {
    height: 56px;
    width: 60px;
    text-align: center; }
    .goods__img img {
      max-height: 100%; }
  .goods__name {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    vertical-align: top;
    color: #606060;
    padding-right: 10px; }
    @media (min-width: 768px) {
      .goods__name {
        padding-right: 0; } }
    .goods__name_big {
      font-size: 18px;
      line-height: 22px; }
    .goods__name:hover {
      color: #606060; }
    .goods__name span {
      border-bottom: 1px solid rgba(96, 96, 96, 0.2); }
  .goods__quantity {
    text-align: center;
    display: inline-block;
    vertical-align: top; }
    .goods__quantity-price {
      color: #8B8B8B;
      font-size: 14px;
      line-height: 15px; }
  .goods__price {
    font-size: 20px;
    color: #303030;
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px; }
    .goods__price i {
      font-weight: 600; }
    .goods__price s {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 15px;
      display: block;
      color: #606060; }
  .goods__delete {
    cursor: pointer;
    z-index: 8040;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    right: 0; }
  .goods__add {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #303030;
    display: inline-block;
    vertical-align: top; }
  .goods__caps {
    color: #303030;
    font-size: 12px;
    line-height: 14px; }

.add-goods-btn em {
  font-style: normal; }
  .add-goods-btn em:first-of-type {
    display: none; }

.add-goods-btn.collapsed em:last-of-type {
  display: none; }

.add-goods-btn.collapsed em:first-of-type {
  display: inline-block; }

.add-goods__img {
  width: 55px; }
  .add-goods__img img {
    max-width: 100%; }

.add-goods-slider {
  list-style: none;
  padding: 20px 0 0;
  width: 100%; }
  .add-goods-slider li {
    line-height: 14px; }
    .add-goods-slider li a {
      color: #606060;
      font-size: 12px;
      border-bottom: 1px solid rgba(96, 96, 96, 0.2); }
    .add-goods-slider li b {
      display: block;
      font-size: 14px;
      line-height: 13px;
      color: #303030; }
    .add-goods-slider li .btn {
      font-size: 14px;
      line-height: 13px;
      padding-top: 6px;
      padding-bottom: 6px; }
  .add-goods-slider .slick-list {
    margin: 0 -20px; }
  .add-goods-slider .slick-slide {
    margin: 0 20px; }
    .add-goods-slider .slick-slide:focus {
      outline: none; }
  .add-goods-slider .slick-track {
    width: 10000px !important; }
  .add-goods-slider .slick-initialized .slick-slide {
    width: 500px !important; }
  .add-goods-slider .slick-dots {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-left: -10px;
    padding-top: 15px;
    margin-bottom: 0;
    line-height: 10px; }
    .add-goods-slider .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border: 4px solid #c4c4c4;
      cursor: pointer;
      margin-left: 10px;
      border-radius: 50%;
      -webkit-transition: border .3s ease;
      transition: border .3s ease; }
      .add-goods-slider .slick-dots li button {
        display: none; }
      .add-goods-slider .slick-dots li.slick-active {
        border: 2px solid #6A9C1D;
        width: 10px;
        height: 10px; }

.collapse:not(.show) {
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0; }

.alert {
  padding: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
  color: #606060; }
  .alert__title {
    padding: 15px 20px;
    color: #bd1a1a; }
    .alert__title strong {
      font-weight: 900; }
    .alert__title a {
      color: #606060;
      font-size: 14px;
      line-height: 16px; }
      .alert__title a em {
        border-bottom: 1px solid;
        display: none;
        vertical-align: top; }
        .alert__title a em:last-of-type {
          display: inline-block; }
      .alert__title a.collapsed em {
        display: inline-block; }
        .alert__title a.collapsed em:last-of-type {
          display: none; }
  .alert-danger {
    background: transparent; }
  .alert-danger .alert__title {
    background: #f7c1c8; }
  .alert__content {
    background: #fff;
    padding: 15px 20px 5px; }

.cart-detail {
  list-style: none;
  padding-left: 0;
  margin-bottom: -15px; }
  .cart-detail li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .cart-detail li:last-of-type {
      border-bottom: none; }
  .cart-detail__subtitle {
    font-weight: bold;
    color: #000;
    margin-bottom: 5px; }
  .cart-detail__name {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    margin-bottom: 3px; }
    .cart-detail__name_main {
      text-transform: uppercase; }
  .cart-detail__quantity {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300; }
  .cart-detail__price {
    font-size: 14px;
    line-height: 12px;
    font-weight: 300;
    margin-bottom: 10px; }
    @media (min-width: 576px) {
      .cart-detail__price {
        margin-bottom: 0; } }
    .cart-detail__price_ex {
      color: #8b8b8b;
      text-decoration: line-through;
      margin-bottom: 0; }
    .cart-detail__price_promo {
      color: #6A9C1D; }
    .cart-detail__price i {
      font-weight: 300; }
  .cart-detail__shiping {
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px dashed;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer; }
  .cart-detail__total {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px; }

.delivery {
  margin-bottom: 15px; }
  .delivery__tabs ul li a {
    border: 1px solid #c2c2c2;
    padding: 15px 20px;
    height: 66px;
    -webkit-transition: background-color .3s ease, border-color .3s ease;
    transition: background-color .3s ease, border-color .3s ease; }
    .delivery__tabs ul li a.active.show {
      border: 2px solid #6A9C1D;
      background: #f5fce9;
      padding: 14px 19px; }
  .delivery__tabs ul li:last-of-type a {
    border-top-color: transparent; }
    @media (min-width: 768px) {
      .delivery__tabs ul li:last-of-type a {
        border-left-color: transparent;
        border-top-color: #c2c2c2; } }
  .delivery__tabs.is-invalid ul li a {
    border-color: #ed4c4c; }
  .delivery__tabs-ico {
    width: 52px; }
  .delivery__tabs-type, .delivery__tabs-price {
    font-size: 14px;
    line-height: 13px;
    font-weight: 300; }
    .delivery__tabs-type b, .delivery__tabs-price b {
      color: #303030;
      font-size: 16px;
      line-height: 15px;
      margin-bottom: 5px;
      display: block;
      font-weight: bold; }
    .delivery__tabs-type i, .delivery__tabs-price i {
      line-height: 12px;
      font-size: 13px; }
  .delivery__tabs-type {
    color: rgba(96, 96, 96, 0.6); }
  .delivery__tabs-price {
    color: #606060; }
  .delivery > .tab-content > .tab-pane {
    padding: 15px 0 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.delivery-pickup__address {
  line-height: 19px; }

.delivery-pickup__schedule {
  line-height: 21px; }

.pick-date__btn {
  border: 1px solid #c2c2c2;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 30px 10px 15px;
  position: relative;
  cursor: pointer; }
  .pick-date__btn:before {
    content: '';
    right: 10px;
    top: 0;
    bottom: 7px;
    margin: auto 0;
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid rgba(96, 96, 96, 0.6);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .pick-date__btn.collapsed:before {
    -webkit-transform: none;
            transform: none;
    bottom: -3px; }
  .pick-date__btn b {
    font-size: 16px;
    line-height: 15px;
    color: #303030; }

.pick-date__content {
  border: 1px solid #c2c2c2;
  border-top: none; }

.pick-date__nums {
  list-style: none;
  margin-bottom: 0;
  border-bottom: 2px solid #c2c2c2; }
  @media (min-width: 576px) {
    .pick-date__nums {
      padding: 0 20px; } }
  .pick-date__nums li {
    min-height: 100%; }
    .pick-date__nums li a {
      display: block;
      padding: 10px 0;
      text-align: center;
      position: relative;
      height: 100%; }
      .pick-date__nums li a.active.show {
        background: #f5fce9; }
        .pick-date__nums li a.active.show:before, .pick-date__nums li a.active.show:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          width: 0;
          height: 0;
          margin: 0 auto;
          border: 18px solid transparent;
          border-top: 8px solid #c2c2c2; }
          @media (min-width: 576px) {
            .pick-date__nums li a.active.show:before, .pick-date__nums li a.active.show:after {
              border: 25px solid transparent;
              border-top: 12px solid #c2c2c2; } }
        .pick-date__nums li a.active.show:after {
          border-top-color: #f5fce9;
          margin-top: -2px; }
      .pick-date__nums li a b {
        color: #000;
        display: block;
        font-size: 18px;
        line-height: 17px; }
      .pick-date__nums li a span {
        color: #606060;
        font-size: 14px;
        line-height: 13px;
        display: block; }

.delivery-time {
  padding: 10px 15px 0; }
  .delivery-time__title {
    font-size: 14px;
    line-height: 13px;
    color: #303030; }
  .delivery-time ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }

.payment .tab-pane {
  padding: 0; }

.payment__title {
  font-size: 14px;
  line-height: 13px;
  color: #303030; }

.payment__hint {
  font-size: 14px;
  line-height: 16px; }

.payment__types ul {
  list-style: none;
  padding-left: 0; }
  .payment__types ul li a {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border: 1px solid #C2C2C2;
    border-bottom: none;
    padding: 15px 10px 15px 15px;
    line-height: 15px;
    font-weight: 300;
    color: #303030; }
    @media (min-width: 768px) {
      .payment__types ul li a {
        border-bottom: 1px solid #C2C2C2; } }
  .payment__types ul li:last-of-type a {
    border-bottom: 1px solid #C2C2C2; }

.payment__hide {
  font-size: 14px;
  line-height: 16px;
  color: #606060;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px dashed rgba(96, 96, 96, 0.4); }
  .payment__hide:hover {
    color: #606060; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #8b8b8b;
  font-size: 14px;
  padding: 40px 0; }
  .footer a {
    color: #8b8b8b;
    border-bottom: 1px solid; }
